<div>
  <h2 id="page-heading" data-cy="AvaliacaoSolicitacaoHeading">
    <span jhiTranslate="reservaVeiculosApp.avaliacaoSolicitacao.home.title">Avaliacao Solicitacaos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="reservaVeiculosApp.avaliacaoSolicitacao.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-avaliacao-solicitacao"
        [routerLink]="['/avaliacao-solicitacao/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="reservaVeiculosApp.avaliacaoSolicitacao.home.createLabel"> Create a new Avaliacao Solicitacao </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="avaliacaoSolicitacaos?.length === 0">
    <span jhiTranslate="reservaVeiculosApp.avaliacaoSolicitacao.home.notFound">No avaliacaoSolicitacaos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="avaliacaoSolicitacaos && avaliacaoSolicitacaos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="valorGasolina">
            <span jhiTranslate="reservaVeiculosApp.avaliacaoSolicitacao.valorGasolina">Valor Gasolina</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalGasto">
            <span jhiTranslate="reservaVeiculosApp.avaliacaoSolicitacao.totalGasto">Total Gasto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="statusSolicitacao">
            <span jhiTranslate="reservaVeiculosApp.avaliacaoSolicitacao.statusSolicitacao">Status Solicitacao</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="justificativaStatus">
            <span jhiTranslate="reservaVeiculosApp.avaliacaoSolicitacao.justificativaStatus">Justificativa Status</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="solicitacao.id">
            <span jhiTranslate="reservaVeiculosApp.avaliacaoSolicitacao.solicitacao">Solicitacao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let avaliacaoSolicitacao of avaliacaoSolicitacaos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/avaliacao-solicitacao', avaliacaoSolicitacao.id, 'view']">{{ avaliacaoSolicitacao.id }}</a>
          </td>
          <td>{{ avaliacaoSolicitacao.valorGasolina }}</td>
          <td>{{ avaliacaoSolicitacao.totalGasto }}</td>
          <td jhiTranslate="{{ 'reservaVeiculosApp.Status.' + avaliacaoSolicitacao.statusSolicitacao }}">
            {{ avaliacaoSolicitacao.statusSolicitacao }}
          </td>
          <td>{{ avaliacaoSolicitacao.justificativaStatus }}</td>
          <td>
            <div *ngIf="avaliacaoSolicitacao.solicitacao">
              <a [routerLink]="['/solicitacao', avaliacaoSolicitacao.solicitacao?.id, 'view']">{{
                avaliacaoSolicitacao.solicitacao?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/avaliacao-solicitacao', avaliacaoSolicitacao.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/avaliacao-solicitacao', avaliacaoSolicitacao.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(avaliacaoSolicitacao)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="avaliacaoSolicitacaos && avaliacaoSolicitacaos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
