<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-categoria-veiculo-heading"
        data-cy="CategoriaVeiculoCreateUpdateHeading"
        jhiTranslate="reservaVeiculosApp.categoriaVeiculo.home.createOrEditLabel"
      >
        Create or edit a Categoria Veiculo
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reservaVeiculosApp.categoriaVeiculo.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="reservaVeiculosApp.categoriaVeiculo.capacidadePessoas"
            for="field_capacidadePessoas"
            >Capacidade Pessoas</label
          >
          <input
            type="number"
            class="form-control"
            name="capacidadePessoas"
            id="field_capacidadePessoas"
            data-cy="capacidadePessoas"
            formControlName="capacidadePessoas"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reservaVeiculosApp.categoriaVeiculo.capacidadePeso" for="field_capacidadePeso"
            >Capacidade Peso</label
          >
          <input
            type="number"
            class="form-control"
            name="capacidadePeso"
            id="field_capacidadePeso"
            data-cy="capacidadePeso"
            formControlName="capacidadePeso"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reservaVeiculosApp.categoriaVeiculo.capacidadeArea" for="field_capacidadeArea"
            >Capacidade Area</label
          >
          <input
            type="number"
            class="form-control"
            name="capacidadeArea"
            id="field_capacidadeArea"
            data-cy="capacidadeArea"
            formControlName="capacidadeArea"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reservaVeiculosApp.categoriaVeiculo.eixos" for="field_eixos">Eixos</label>
          <input type="number" class="form-control" name="eixos" id="field_eixos" data-cy="eixos" formControlName="eixos" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reservaVeiculosApp.categoriaVeiculo.altura" for="field_altura">Altura</label>
          <input type="number" class="form-control" name="altura" id="field_altura" data-cy="altura" formControlName="altura" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reservaVeiculosApp.categoriaVeiculo.nivelCNH" for="field_nivelCNH"
            >Nivel CNH</label
          >
          <select class="form-control" name="nivelCNH" formControlName="nivelCNH" id="field_nivelCNH" data-cy="nivelCNH">
            <option [ngValue]="null">{{ 'reservaVeiculosApp.NivelCNH.null' | translate }}</option>
            <option value="A">{{ 'reservaVeiculosApp.NivelCNH.A' | translate }}</option>
            <option value="B">{{ 'reservaVeiculosApp.NivelCNH.B' | translate }}</option>
            <option value="C">{{ 'reservaVeiculosApp.NivelCNH.C' | translate }}</option>
            <option value="D">{{ 'reservaVeiculosApp.NivelCNH.D' | translate }}</option>
            <option value="E">{{ 'reservaVeiculosApp.NivelCNH.E' | translate }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
