<div>
  <h2 id="page-heading" data-cy="UsuarioHeading">
    <span jhiTranslate="reservaVeiculosApp.usuario.home.title">Usuarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="reservaVeiculosApp.usuario.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-usuario"
        [routerLink]="['/usuario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="reservaVeiculosApp.usuario.home.createLabel"> Create a new Usuario </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="usuarios?.length === 0">
    <span jhiTranslate="reservaVeiculosApp.usuario.home.notFound">No usuarios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="usuarios && usuarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="reservaVeiculosApp.usuario.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="perfil">
            <span jhiTranslate="reservaVeiculosApp.usuario.perfil">Perfil</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="identificacao">
            <span jhiTranslate="reservaVeiculosApp.usuario.identificacao">Identificacao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nidentificao">
            <span jhiTranslate="reservaVeiculosApp.usuario.nidentificao">Nidentificao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cpf">
            <span jhiTranslate="reservaVeiculosApp.usuario.cpf">Cpf</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="reservaVeiculosApp.usuario.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="celular">
            <span jhiTranslate="reservaVeiculosApp.usuario.celular">Celular</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="whatsapp">
            <span jhiTranslate="reservaVeiculosApp.usuario.whatsapp">Whatsapp</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ativo">
            <span jhiTranslate="reservaVeiculosApp.usuario.ativo">Ativo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="criado">
            <span jhiTranslate="reservaVeiculosApp.usuario.criado">Criado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nivelCNH">
            <span jhiTranslate="reservaVeiculosApp.usuario.nivelCNH">Nivel CNH</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="reservaVeiculosApp.usuario.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/usuario', usuario.id, 'view']">{{ usuario.id }}</a>
          </td>
          <td>{{ usuario.nome }}</td>
          <td jhiTranslate="{{ 'reservaVeiculosApp.PerfilUsuario.' + usuario.perfil }}">{{ usuario.perfil }}</td>
          <td jhiTranslate="{{ 'reservaVeiculosApp.Identificador.' + usuario.identificacao }}">{{ usuario.identificacao }}</td>
          <td>{{ usuario.nidentificao }}</td>
          <td>{{ usuario.cpf }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.celular }}</td>
          <td>{{ usuario.whatsapp }}</td>
          <td>{{ usuario.ativo }}</td>
          <td>{{ usuario.criado | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'reservaVeiculosApp.NivelCNH.' + usuario.nivelCNH }}">{{ usuario.nivelCNH }}</td>
          <td>
            {{ usuario.user?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/usuario', usuario.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/usuario', usuario.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(usuario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="usuarios && usuarios.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
