<div>
  <h2 id="page-heading" data-cy="CategoriaVeiculoHeading">
    <span jhiTranslate="reservaVeiculosApp.categoriaVeiculo.home.title">Categoria Veiculos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="reservaVeiculosApp.categoriaVeiculo.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-categoria-veiculo"
        [routerLink]="['/categoria-veiculo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="reservaVeiculosApp.categoriaVeiculo.home.createLabel"> Create a new Categoria Veiculo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categoriaVeiculos?.length === 0">
    <span jhiTranslate="reservaVeiculosApp.categoriaVeiculo.home.notFound">No categoriaVeiculos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="categoriaVeiculos && categoriaVeiculos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="reservaVeiculosApp.categoriaVeiculo.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="capacidadePessoas">
            <span jhiTranslate="reservaVeiculosApp.categoriaVeiculo.capacidadePessoas">Capacidade Pessoas</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="capacidadePeso">
            <span jhiTranslate="reservaVeiculosApp.categoriaVeiculo.capacidadePeso">Capacidade Peso</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="capacidadeArea">
            <span jhiTranslate="reservaVeiculosApp.categoriaVeiculo.capacidadeArea">Capacidade Area</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="eixos">
            <span jhiTranslate="reservaVeiculosApp.categoriaVeiculo.eixos">Eixos</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="altura">
            <span jhiTranslate="reservaVeiculosApp.categoriaVeiculo.altura">Altura</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nivelCNH">
            <span jhiTranslate="reservaVeiculosApp.categoriaVeiculo.nivelCNH">Nivel CNH</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoriaVeiculo of categoriaVeiculos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/categoria-veiculo', categoriaVeiculo.id, 'view']">{{ categoriaVeiculo.id }}</a>
          </td>
          <td>{{ categoriaVeiculo.nome }}</td>
          <td>{{ categoriaVeiculo.capacidadePessoas }}</td>
          <td>{{ categoriaVeiculo.capacidadePeso }}</td>
          <td>{{ categoriaVeiculo.capacidadeArea }}</td>
          <td>{{ categoriaVeiculo.eixos }}</td>
          <td>{{ categoriaVeiculo.altura }}</td>
          <td jhiTranslate="{{ 'reservaVeiculosApp.NivelCNH.' + categoriaVeiculo.nivelCNH }}">{{ categoriaVeiculo.nivelCNH }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/categoria-veiculo', categoriaVeiculo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/categoria-veiculo', categoriaVeiculo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(categoriaVeiculo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="categoriaVeiculos && categoriaVeiculos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
